<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>

    <appender name="FILE-DEBUG" class="org.apache.log4j.FileAppender">
        <param name="Append" value="false"/>
        <param name="file" value="${example.log.path}/example-debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>
    
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="file" value="${example.log.path}/example.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <!--<param name="LevelMax" value="FATAL "/>-->
        </filter>
    </appender>

    <appender name="FILE-AOP" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${example.log.path}/example-aop.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <!--<param name="LevelMax" value="FATAL "/>-->
        </filter>
    </appender>

    <appender name="FILE-SQL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${example.log.path}/example-sql.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>

    <appender name="FILE-VELOCITY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="file" value="${example.log.path}/example-velocity.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>


    <category name="java.sql" additivity="false">
        <priority value="${example.log.level}"/>
        <appender-ref ref="FILE-SQL"/>
        <appender-ref ref="FILE-DEBUG"/>
        <appender-ref ref="FILE"/>
    </category>

    <category name="org.apache.velocity" additivity="false">
        <priority value="${example.log.level}"/>
        <appender-ref ref="FILE-VELOCITY"/>
        <appender-ref ref="FILE-DEBUG"/>
        <appender-ref ref="FILE"/>
    </category>

    <category name="com.jd.aop" additivity="false">
        <priority value="${example.log.level}"/>
        <appender-ref ref="FILE-AOP"/>
        <appender-ref ref="FILE"/>
    </category>

    <category name="com.jd" additivity="true">
        <priority value="${example.log.level}"/>
        <appender-ref ref="FILE"/>
    </category>

    <root>
        <priority value="${example.log.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-DEBUG"/>
    </root>
</log4j:configuration>
