#* @implicitly included *#
#* @vtlvariable name="exampleModule" type="com.jd.common.web.url.JdUrl"*#
#* @vtlvariable name="localHost" type="com.jd.common.network.LocalHost"*#
#* @vtlvariable name="stringEscapeUtils" type="org.apache.commons.lang.StringEscapeUtils" *#
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *#
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *#
#* @vtlvariable name="dateFormatUtils" type="com.jd.common.util.DateFormatUtils"*#
#* @vtlvariable name="actionErrors" type="java.util.Collection<java.lang.String>"*#
#* @vtlvariable name="actionMessages" type="java.util.Collection<java.lang.String>"*#
#* @vtlvariable name="fieldErrors" type="java.util.Map<java.lang.String,java.util.List<java.lang.String>>"*#
#* @vtlvariable name="assetModule" type="com.jd.common.web.url.JdUrl"*#
#* @vtlmacrolibrary path="../webapp/WEB-INF/vm/macro.vm" *#

